---
import type { GetStaticPaths } from "astro";
import BaseLayout from "../../layout/BaseLayout.astro";
import { getCollection, getEntry, render } from "astro:content";

export const getStaticPaths = (async () => {
    const posts = await getCollection("posts");
    return posts.map((p) => ({
        params: { slug: p.data.slug },
        props: { post: p },
    }));
}) satisfies GetStaticPaths;

const { slug } = Astro.params;

if (!slug) {
    return Astro.redirect("404");
}

const { post } = Astro.props;
const { title, tags, pubDate, cover, coverAlt, author } = post.data
const { Content } = await render(post);
const authorData = await getEntry("team", author.id);

---

<BaseLayout>
    <h1>{title}</h1>
    <p>By { authorData?.data.name}</p>
    <p>{pubDate}</p>
    <img 
        src={cover.src} 
        alt={coverAlt} 
        height={cover.height}
        width={cover.width}
    />
    <Content />
</BaseLayout>