---
// library imports
import { Icon } from "astro-icon/components";

// component imports
import Button from "./Button.astro";

interface Features {
    title: string;
    checked: boolean;
}

interface Props {
    tier: string;
    most_popular: boolean;
    amount_per_month: number;
    title: string;
    description: string;
    btn_text: string;
    features: Features[];
}

const {
    tier,
    most_popular,
    amount_per_month,
    title,
    description,
    btn_text,
    features,
    ...rest
} = Astro.props;
---

<article class:list={[{"dark-shadow": most_popular}]}>
    <p>{tier}</p>
    {
        most_popular && <p>Most Popular</p>
    }
    <div>
        <div>
            <span>$</span>
            <span>{amount_per_month}</span>
            { amount_per_month > 0 && <span>/mo</span> }
        </div>
        <div>{title}</div>
        <p>{description}</p>
    </div>
    <Button id={tier.toLowerCase()}>{btn_text}</Button>
    {
        features && 
        features.length && 
        <ul>
        {
            features.map(f => (
            <li>
                { 
                f.checked ? 
                <Icon name="mdi:check" size={24} /> : 
                <Icon name="mdi:multiply" size={24} />
                }
                {f.title}
            </li>
            ))
        }
        </ul>
    }
</article>

<style>
    article {
        background-color: var(--color-bkg);
        box-shadow: var(--shadow-light);
    }
</style>